* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: hsl(180, 52%, 96%);
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}
#container {
  height: 100%;
  width: 100%;
}
.header {
  background-image: url("../images/bg-header-desktop.svg");
  background-color: hsl(180, 29%, 50%);
  height: 155px;
  margin-bottom: 50px;
}
.main-box {
  background-color: hsl(180, 52%, 96%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  height: 100%;
  width: 100%;
  max-width: 1110px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.jobItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  min-width: 1110px;
  width: 100%;
  height: 150px;
  border-radius: 5px;
  box-shadow: 0 15px 15px -4px hsl(180deg 29% 50% / 20%);
  padding-right: 40px;
}
.jobItem:nth-child(1),
.jobItem:nth-child(2) {
  border-left: 5px solid hsl(180, 29%, 50%);
}

.companyLogo {
  position: relative;
  display: flex;
  width: 12%;
  height: 100%;
}
.companyLogo img {
  width: 90px;
  height: 90px;
  text-align: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  position: absolute;
  right: 0%;
}
.card-details {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.card-tags {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 48%;
  height: 100%;
  padding-left: 80px;
}
.job-tag {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 31%, 95%);
  font-size: 0.9em;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.job-tag:hover {
  cursor: pointer;
  color: hsl(180, 31%, 95%);
  background-color: hsl(180, 29%, 50%);
}
.top {
  height: 33%;
}
.company {
  font-size: 1.2em;
  margin-left: 20px;
  color: hsl(180, 29%, 50%);
  display: inline-block;
  margin-top: 31px;
}
.new-tag {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 0.85em;
  font-weight: bold;
  color: #fff;
  display: inline;
  background-color: hsl(180, 29%, 50%);
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  padding: 6px 9px 5px 9px;
  border-radius: 10px;
}
.feature-tag {
  font-size: 0.85em;
  font-weight: bold;
  color: #fff;
  display: inline;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  background-color: hsl(180, 14%, 20%);
  padding: 6px 9px 5px 9px;
  border-radius: 10px;
}
.middle {
  height: 33%;
}
.position {
  margin-left: 20px;
  color: hsl(180, 14%, 20%);
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.position:hover {
  cursor: pointer;
  color: hsl(180, 29%, 50%);
}
.information {
  font-size: 1.2em;
  margin-left: 20px;
  width: 100%;
  display: block;
  color: hsl(180, 8%, 52%);
  opacity: 0.8;
}
@media (max-width: 1300px) {
  .main {
    height: 100%;
    width: 100%;
    max-width: 800px;
  }
  .jobItem {
    min-width: 780px;
  }
  .card-tags {
    flex-wrap: wrap;
    height: 70%;
  }
  .job-tag {
    margin: 5px;
  }
  .companyLogo {
    width: 16%;
    height: 100%;
  }
  .card-details {
    width: 40%;
    height: 100%;
  }
  .card-tags {
    width: 44%;
  }
}
@media (max-width: 860px) {
  .header {
    background-image: url("../images/bg-header-mobile.svg");
  }
  .main {
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .jobItem {
    min-width: 240px;
    max-width: 350px;
    width: 100%;
    height: 250px;
    padding: 0 10px;
    flex-direction: column;
  }
  .card-tags {
    border-top: 1px solid hsl(180, 8%, 52%);
    height: 46%;
    width: 100%;
    justify-content: flex-start;
    padding: 10px 20px 20px 5px;
    margin: 0;
  }
  .job-tag {
    padding: 10px;
    margin-right: 10px;
  }
  .companyLogo {
    width: 100%;
    height: 2%;
  }
  .companyLogo img {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 82%;
    top: -10%;
    z-index: 1;
  }
  .card-details {
    width: 100%;
    height: 52%;
    padding: 0;
  }
  .company {
    font-size: 1.1em;
    color: hsl(180, 29%, 50%);
    display: inline-block;
    margin-left: 12px;
  }
  .new-tag {
    font-size: 0.8em;
  }
  .feature-tag {
    font-size: 0.8em;
  }
  .middle {
    margin-top: 10px;
  }
  .position {
    font-size: 1.2em;
    margin-left: 12px;
  }
  .information {
    font-size: 1.1em;
    margin-left: 12px;
  }
}
