* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: hsl(180, 52%, 96%);
  font-size: 15px;
  font-family: "League Spartan", sans-serif;
}
#container {
  height: 100%;
  width: 100%;
}
.header {
  background-image: url("../images/bg-header-desktop.svg");
  background-color: hsl(180, 29%, 50%);
  height: 155px;
  margin-bottom: 50px;
}
.main-box {
  background-color: hsl(180, 52%, 96%);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main {
  height: 100%;
  width: 100%;
  max-width: 1110px;
  /* margin: 0 auto; */
  display: flex;
  /* flex-wrap: wrap;*/
  flex-direction: column;
  gap: 40px;
}
.jobItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #fff;
  min-width: 1110px;
  width: 100%;
  height: 150px;
  border-radius: 5px;
}
.jobItem:nth-child(1),
.jobItem:nth-child(2) {
  border-left: 5px solid hsl(180, 29%, 50%);
}

.companyLogo {
  position: relative;
  display: flex;
  /* align-items: center;
  justify-content: center; */
  width: 12%;
  height: 100%;
}
.companyLogo img {
  width: 90px;
  height: 90px;
  text-align: right;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  position: absolute;
  right: 0%;
}
.card-details {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
}
.card-tags {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48%;
  height: 100%;
}
.job-tag {
  color: hsl(180, 29%, 50%);
  background-color: hsl(180, 31%, 95%);
  font-size: 0.9em;
  font-weight: 700;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}
.job-tag:hover {
  cursor: pointer;
  color: hsl(180, 31%, 95%);
  background-color: hsl(180, 29%, 50%);
}
.top {
  height: 33%;
}
.company {
  font-size: 1.2em;
  margin-left: 20px;
  color: hsl(180, 29%, 50%);
  display: inline-block;
  margin-top: 31px;
}
.new-tag {
  margin-left: 10px;
  margin-right: 5px;
  font-size: 0.8em;
  color: #fff;
  display: inline;
  background-color: hsl(180, 29%, 50%);
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  padding: 4px 7px 4px 7px;
  border-radius: 10px;
}
.feature-tag {
  font-size: 0.8em;
  color: #fff;
  display: inline;
  text-transform: uppercase;
  vertical-align: middle;
  text-align: center;
  background-color: hsl(180, 14%, 20%);
  padding: 4px 7px 4px 7px;
  border-radius: 10px;
}
.middle {
  height: 33%;
  /* background-color: blueviolet; */
}
.position {
  margin-left: 20px;
  color: hsl(180, 14%, 20%);
  font-size: 1.5em;
  font-weight: bold;
  width: 100%;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.information {
  font-size: 1.2em;
  margin-left: 20px;
  width: 100%;
  display: block;
  /* background-color: red; */
  color: hsl(180, 8%, 52%);
  opacity: 0.8;
}
